

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: rgb(199, 175, 207);
    color: #333;
    padding: 1rem;
}

header h1 {
    margin-bottom: 0.5rem;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    padding: 2rem;
}

/* Botón */
button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(199, 175, 207);
    color: black;
    margin-top: 2rem;
}
